.App {
  text-align: center;
}

#header{
  color: white;
  background-color: #200f21;
  padding: 30px 15px 30px 15px;
  display: flex;
  justify-content: space-between;
}

#search{
  background-color: #1b262c;
  padding: 10px 100px 10px 50px;
  display: flex;
  justify-content: space-between;
  color: aqua;
}

#mainBody{
  background-color: #1b262c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.day{
  width: 20%;
  height: 25%;
  background-color: darkturquoise;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50% 50%;
}
img{
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px ;
}
.imageDiv{
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkslategray;
  border-radius: 10px 10px 0px 0px;

  /* background-size: cover; */
  /* width: 100%; */
}

.countryInfo{
  padding-left: 20px;
  text-align: left;
  color: antiquewhite;
  background-color: darkslategray;
  border-radius: 0px 0px 10px 10px;
  /* padding-top: 0px; */
}






